<%= form_with(model: collection, local: true) do |form| %>
  <% if collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group g-mb-20">
    <%= form.label :title %> 
    <%= form.text_field :title, id: :collection_title, class: "form-control form-control-md rounded-0",
    placeholder: "Enter Title" %>
  </div>

  <div class="form-group mb-20">
    <%= form.label :content, "Content of the Collection" %>
    <%= form.text_area :content, id: :collection_content, class: "form-control form-control-md rounded-0",
     placeholder: "Enter Content of the Collection" %>
  </div>

  <div class="form-group g-mb-20">
      <%= form.label :video_embed_link, "Video Embedded Link" %>
      <%= form.text_field :video_embed_link, id: :collection_video_embed_link,
      class: "form-control form-control-md rounded-0", placeholder: "Enter Link" %>
  </div>

  <div class="form-group g-mb-20">
      <%= form.label :arts_and_culture_embed, "Arts and Culture Embedded" %>
      <%= form.text_field :arts_and_culture_embed, id: :collection_arts_and_culture_embed,
      class: "form-control form-control-md rounded-0", placeholder: "Enter Link" %>
  </div>

  <div class="field">
    <%= form.label :private %>
    <%= form.check_box :private, id: :collection_private %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
