<%= form_with(model: collection, local: true, multipart: true) do |form| %>
  <% if collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group g-mb-20">
    <%= form.label :title %> 
    <%= form.text_field :title, id: :collection_title, class: "form-control form-control-md rounded-0",
    placeholder: "Enter Title" %>
  </div>

  <div class="form-group g-mb-20">
    <%= form.label :content, "Content of the Collection" %>
    <%= form.text_area :content, id: :collection_content, class: "form-control form-control-md rounded-0 tinymce", rows: 40, cols: 120,
     placeholder: "Enter Content of the Collection" %>
  </div>

  <% if collection.image.present? %>
    <div class="g-mb-20">
      <figure>
        <figcaption class="g-font-weight-700 g-mb-10">
          Current Collection Image:
        </figcaption>
        <%= image_tag(collection.image_url(:thumb).to_s) if collection.image.present? %>
      </figure>
    </div>
  <% end %>

  <div class="form-group g-mb-20">
    <%= form.label :image, "Upload Collection Image" %>
    <%= form.file_field :image, id: :image, class: "" %>
  </div>
  <div class="form-group g-mb-20">
    <%= form.label :remote_image_url, "Or Collection Image URL" %>
    <%= form.text_field :remote_image_url, id: :remote_image_url, class: "form-control form-control-md rounded-0" %>
  </div>

  <div class="form-group g-mb-20">
      <%= form.label :video_embed_link, "Video Embedded Link" %>
      <%= form.text_field :video_embed_link, id: :collection_video_embed_link,
      class: "form-control form-control-md rounded-0", placeholder: "Enter Link" %>
  </div>

  <div class="form-group g-mb-20">
      <%= form.label :arts_and_culture_embed, "Arts and Culture Embedded" %>
      <%= form.text_field :arts_and_culture_embed, id: :collection_arts_and_culture_embed,
      class: "form-control form-control-md rounded-0", placeholder: "Enter Link" %>
  </div>

  <div class="field form-group g-mb-20">
    <%= form.label :private %>
    <%= form.check_box :private, id: :collection_private %>
  </div>

  <div class="actions g-mb-20 g-mb-20">
    <%= form.submit class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

<%= tinymce %>
