<!-- Header -->
<%= render partial: '/shared/sub_header' %>
<!-- Title -->
<div class="container">
  <div class="u-heading-v2-5--bottom g-brd-primary g-mb-40 col-md-12">
    <h1 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0 g-mt-40">
      <%= @collection.title.html_safe %>
    </h1>
  </div>
</div>
<div class="container">
  <!-- Search results link -->
  <section class="g-brd-around g-brd-2 g-brd-gray-light-v4 g-pa-30 g-mb-30">
    <div class="d-md-flex justify-content-md-center text-center">
      <div class="align-self-md-center">
        <%= link_to "Search Items in this Collection", root_path(f:{collection_facet: [@collection.title]}), class: 'btn btn-md rounded-0 btn-primary' %>
      </div>
    </div>
  </section>
  <!-- End search results link -->

  <!-- Content -->
  <div class="card-body col-md-12">
    <div class="g-mb-60">
      <%= @collection.content.html_safe %>
    </div>
  </div>
  <!-- End Content -->
  <!-- picture section to be added later -->
  <!-- picture section to be added later -->
  <!-- Video box -->

  <div class="col-md-12 g-mb-60">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="100%" src="<%= @collection.video_embed_link %>" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>
  
  <!-- End Youtube Example -->
  <!-- arts and cultrure embed -->
  <div class="col-md-12 g-mb-60">
    <%= @collection.arts_and_culture_embed.html_safe %>
    
  </div>
  <!-- arts and cultrure embed -->
  <!--buttons-->
  <div class="col-md-12">
    <% if current_user && !current_user.guest? %>
      <%= link_to 'Edit', edit_collection_path(@collection) %> |
      <%= link_to 'Delete Collection', @collection, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <% end %>
    <%= link_to 'Back', root_path %>
  </div>
</div>

