  <!-- Our Collections -->

    <section class="margin-bottom-50" id="collections">
      <!-- <div class="container"> -->
        <header class="g-mb-50">
          <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
            <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Our Collections</h2>
          </div>

        </header>

        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Agriculture']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("agriculture.jpg", :alt => "Agriculture", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>
              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white ">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Agriculture']}), :class=> "g-color-white" do %>
                      Agriculture
                    <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Architecture, Landscape Architecture, and Design']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("architecture.jpg", :alt => "Architecture, Lanscape Architecture, and Design", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>
              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white ">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Architecture, Landscape Architecture, and Design']}), :class=> "g-color-white" do %>
                      Architecture, Landscape Architecture, and Design
                    <% end %>
                </h3>
              </header>
            </article>
          </div>
          
          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['African American History']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("african-american-history.jpg", :alt => "African American History Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>
              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white ">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['African American History']}), :class=> "g-color-white" do %>
                      African American History
                    <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['American Indian History']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("american-indian-history.jpg", :alt => "American Indian History Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white ">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['American Indian History']}), :class=> "g-color-white" do %>
                    American Indian History
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Art']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("art.jpg", :alt => "Art Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white ">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Art']}), :class=> "g-color-white" do %>
                    Art
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Asian American History']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("asian-american-history.jpg", :alt => "Asian American History Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white ">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Asian American History']}), :class=> "g-color-white" do %>
                    Asian American History
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Books and Fine Printing']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("books.jpg", :alt => "Books and Fine Printing Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Books and Fine Printing']}), :class=> "g-color-white" do %>
                    Books and Fine Printing
                  <% end %>
                </h3>
              </header>
            </article>
          </div>
          
          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Business']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("business.jpg", :alt => "Business History Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Business']}), :class=> "g-color-white" do %>
                    Business
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Chicano Movement']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("chicano-movement.jpg", :alt => "Chicano Movement Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Chicano Movement']}), :class=> "g-color-white" do %>
                    Chicano Movement
                  <% end %>
                </h3>
              </header>
            </article>
          </div>
          
          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Civil Liberties']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("civil-liberties.jpg", :alt => "Civil Liberties Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Civil Liberties']}), :class=> "g-color-white" do %>
                    Civil Liberties
                  <% end %>
                </h3>
              </header>
            </article>
          </div>
          
          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Civil Rights Movement']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("civil-rights.jpg", :alt => "Civil Rights Movement Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Civil Rights Movement']}), :class=> "g-color-white" do %>
                    Civil Rights Movement
                  <% end %>
                </h3>
              </header>
            </article>
          </div>
          
          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Communist Party']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("communist-party.jpg", :alt => "Communist Party Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Communist Party']}), :class=> "g-color-white" do %>
                    Communist Party
                  <% end %>
                </h3>
              </header>
            </article>
          </div>
          
          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Community Activism']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("community-activism.jpg", :alt => "Community Activism Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Community Activism']}), :class=> "g-color-white" do %>
                    Community Activism
                  <% end %>
                </h3>
              </header>
            </article>
          </div>
          
          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Community History']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("community-history.jpg", :alt => "Community History Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Community History']}), :class=> "g-color-white" do %>
                    Community History
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Dance']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("dance.jpg", :alt => "Dance Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Dance']}), :class=> "g-color-white" do %>
                    Dance
                  <% end %>
                </h3>
              </header>
            </article>
          </div>
          
          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Education']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("education.jpg", :alt => "Education Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Education']}), :class=> "g-color-white" do %>
                    Education
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Environmental Movement']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("environment.jpg", :alt => "Environmental Movement Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Environmental Movement']}), :class=> "g-color-white" do %>
                    Environmental Movement
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Film and Television']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("film.jpg", :alt => "Film and Television Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Film and Television']}), :class=> "g-color-white" do %>
                    Film and Television
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ["German Émigrés"]}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("german-emigres.jpg", :alt => "German Émigrés Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ["German Émigrés"]}), :class=> "g-color-white" do %>
                    German Émigrés
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ["Iranian Americans"]}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("iranian-americans.jpg", :alt => "Iranian Americans Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ["Iranian Americans"]}), :class=> "g-color-white" do %>
                    Iranian Americans
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Journalism']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("journalism.jpg", :alt => "Journalism Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Journalism']}), :class=> "g-color-white" do %>
                    Journalism
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Labor Movement']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("labor-movement.jpg", :alt => "Labor Movement Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Labor Movement']}), :class=> "g-color-white" do %>
                    Labor Movement
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Latina and Latino History']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("latina-history.jpg", :alt => "Latina and Latino History Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Latina and Latino History']}), :class=> "g-color-white" do %>
                    Latina and Latino History
                  <% end %>
                  </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Literature']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("literature.jpg", :alt => "Literature Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Literature']}), :class=> "g-color-white" do %>
                    Literature
                  <% end %>
                  </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Military History']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("military.jpg", :alt => "Military History Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Military History']}), :class=> "g-color-white" do %>
                    Military History
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Music']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("music.jpg", :alt => "Music Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Music']}), :class=> "g-color-white" do %>
                    Music
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Photography']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("photography.jpg", :alt => "Photography Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Photography']}), :class=> "g-color-white" do %>
                    Photography
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Politics and Government']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("politics.jpg", :alt => "Politics and Government Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Politics and Government']}), :class=> "g-color-white" do %>
                    Politics and Government
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Science, Medicine, and Technology']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("science.jpg", :alt => "Science, Medicine, and Technology Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Science, Medicine, and Technology']}), :class=> "g-color-white" do %>
                    Science, Medicine, and Technology
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Social Movements']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("social-movements.jpg", :alt => "Social Movements Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Social Movements']}), :class=> "g-color-white" do %>
                    Social Movements
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Sports']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("sports.jpg", :alt => "Sports Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Sports']}), :class=> "g-color-white" do %>
                    Sports
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Theater']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("theater.jpg", :alt => "Theater Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Theater']}), :class=> "g-color-white" do %>
                    Theater
                  <% end %>
                </h3>
              </header>
            </article>
          </div>
          
          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['UCLA and University of California History']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("ucla.jpg", :alt => "UCLA History Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['UCLA and University of California History']}), :class=> "g-color-white" do %>
                    UCLA and University of California History
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Urban Planning']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("urban-planning.jpg", :alt => "Urban Planning Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Urban Planning']}), :class=> "g-color-white" do %>
                    Urban Planning
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ['Water Resources']}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("water.jpg", :alt => "Water Resources Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ['Water Resources']}), :class=> "g-color-white" do %>
                    Water Resources
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <%= link_to root_path(f:{subject_topic_facet: ["Women's Issues"]}) do %>
                <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                  <%= image_tag("women.jpg", :alt => "Womens Issues Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
                </figure>
              <% end %>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                  <%= link_to root_path(f:{subject_topic_facet: ["Women's Issues"]}), :class=> "g-color-white" do %>
                    Women's Issues
                  <% end %>
                </h3>
              </header>
            </article>
          </div>

        </div>
      <!-- </div> -->
    </section>

    <!-- End Our Collections -->
