<!-- Collection blocks -->

<section class="margin-bottom-50 g-mt-30" id="collections">
  <div class="row">
    <div class="col-lg-4 col-sm-6 g-mb-30">
      <article class="u-block-hover">
        <%= link_to root_path(f:{collection_facet: ['Luxor Roman Wall Paintings']}) do %>
          <figure class="u-bg-overlay g-bg-black-opacity-0_3--after">
            <%= image_tag("roman-wall-paintings.jpg", :alt => "Luxor Roman Wall Paintings", :class => "img-fluid w-100 u-block-hover__main--zoom-v1") %>
          </figure>
        <% end %>
        <header class="g-pos-abs g-right-20 g-bottom-10 g-left-20">
          <%= link_to root_path(f:{collection_facet: ['Luxor Roman Wall Paintings']}), :class => "h2 g-font-weight-600 g-color-white" do %>
            Luxor Roman Wall Paintings
          <% end %>
        </header>
      </article>
    </div>
    <div class="col-lg-4 col-sm-6 g-mb-30">
      <article class="u-block-hover">
        <%= link_to root_path(f:{collection_facet: ['Conservation of the Tomb of Anen']}) do %>
          <figure class="u-bg-overlay g-bg-black-opacity-0_3--after">
            <%= image_tag("anen.jpg", :alt => "Conservation of the Tomb of Anen", :class => "img-fluid w-100 u-block-hover__main--zoom-v1") %>
          </figure>
        <% end %>
        <header class="g-pos-abs g-right-20 g-bottom-10 g-left-20">
          <%= link_to root_path(f:{collection_facet: ['Conservation of the Tomb of Anen']}), :class => "h2 g-font-weight-600 g-color-white" do %>
            Conservation of the Tomb of Anen
          <% end %>
        </header>
      </article>
    </div>
    <div class="col-lg-4 col-sm-6 g-mb-30">
      <article class="u-block-hover">
        <%= link_to root_path(f:{collection_facet: ['Shunet el-Zebib Documentation and Conservation']}) do %>
          <figure class="u-bg-overlay g-bg-black-opacity-0_3--after">
            <%= image_tag("shunet-el-zebib.jpg", :alt => "Shunet el-Zebib", :class => "img-fluid w-100 u-block-hover__main--zoom-v1") %>
          </figure>
        <% end %>
        <header class="g-pos-abs g-right-20 g-bottom-10 g-left-20">
          <%= link_to root_path(f:{collection_facet: ['Shunet el-Zebib Documentation and Conservation']}), :class => "h2 g-font-weight-600 g-color-white" do %>
            Shunet el-Zebib Documentation and Conservation
          <% end %>
        </header>
      </article>
    </div>   
  </div>
</section>
<!-- End Collection blocks -->
