<% unless has_search_parameters? %>
  <!-- Promo Block -->
  <div class="container-fluid">
    <section class="g-pos-rel hero-image-block">
      <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
        <div class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-bluegray-opacity-0_2--after" ></div>

        <div class="container g-bg-cover__inner g-py-50">
          <div class="row align-items-center">
            <div class="col-lg-6 g-mb-30 g-mb-0--lg pad-lt-50">
              <h2 class="h1 text-uppercase g-color-white g-mb-30">
                  <span class="hero-ribbon-blue g-bg-primary-dark-v3 g-px-5">UCLA Library</span><br>
                  <span class="hero-ribbon-blue g-bg-primary-dark-v3 g-px-5">Center for </span><br>
                  <span class="hero-ribbon-blue g-bg-primary-dark-v3 g-px-5">Oral History Research</span>
                </h2>
              <h3 class="h4 g-color-white">
                  <span class="hero-ribbon-gray g-bg-black-opacity-0_6 g-px-5">Documenting the histories of Los Angeles</span><br>
                  <span></span><br>
                </h3>
            </div>
            <div class="col-lg-6 g-mt-50">
              <%= render_search_bar  %>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
    <!-- End Promo Block -->

    <!-- Hero accordion info block -->
  <div class="container hero-info">

    <div id="accordion-04" class="u-accordion u-accordion-color-primary u-accordion-brd-primary" role="tablist" aria-multiselectable="true">
          <!-- Card -->
      <div class="row">
        <div class="col-sm-4 g-mb-30 shortcode-html">
          <div class="card rounded-0 g-mb-5">
            <div id="accordion-04-heading-01" class="u-accordion__header" role="tab" aria-multiselectable="false">
              <h2 class="mb-0 g-font-weight-300 text-center">
                <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-size-20" href="#accordion-04-body-01" data-toggle="collapse" data-parent="#accordion-04" aria-expanded="FALSE" aria-controls="accordion-04-body-01">
                  ABOUT THE CENTER
                </a>
              </h2>
            </div>
          </div>
          <!-- End Card -->
        </div>

        <div class="col-sm-4 g-mb-30 shortcode-html">
          <div class="card rounded-0 g-mb-5">
            <div id="accordion-04-heading-02" class="u-accordion__header" role="tab" aria-multiselectable="false">
              <h2 class="mb-0 g-font-weight-300 text-center">
                <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-size-20" href="#accordion-04-body-02" data-toggle="collapse" data-parent="#accordion-04" aria-expanded="FALSE" aria-controls="accordion-04-body-02">
                  ORAL HISTORY TRAINING
                </a>
              </h2>
            </div>
          </div>
          <!-- End Card -->
        </div>

        <div class="col-sm-4 g-mb-30 shortcode-html">
          <div class="card rounded-0 g-mb-5">
            <div id="accordion-04-heading-03" class="u-accordion__header" role="tab" aria-multiselectable="false">
              <h2 class="mb-0 g-font-weight-300 text-center">
                <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-size-20" href="#accordion-04-body-03" data-toggle="collapse" data-parent="#accordion-04" aria-expanded="FALSE" aria-controls="accordion-04-body-03">
                  ACCESSING INTERVIEWS
                </a>
              </h2>
            </div>
          </div>
        </div>
        <div id="accordion-04-body-01" class="collapse" role="tabpanel" aria-labelledby="accordion-04-heading-01">
          <div class="u-accordion__body g-brd-top g-brd-gray-light-v4 g-color-gray-dark-v5">
            <p>
              The UCLA Center for Oral History Research (COHR) conducts in-depth, multi-session oral history interviews with individuals who have been a part of the history of Los Angeles and its many communities. COHR has particularly strong collections in the history of social movements, communities of color, the arts, Los Angeles politics and government, and the history of UCLA.
            </p>

            <p>
              COHR also offers classroom instruction, advice on oral history projects, and regular oral history workshops open to students, faculty, and community members.
            </p>
          </div>
        </div>

        <div id="accordion-04-body-02" class="collapse" role="tabpanel" aria-labelledby="accordion-04-heading-02">
          <div class="u-accordion__body g-brd-top g-brd-gray-light-v4 g-color-gray-dark-v5">
            <p>
              Interested in doing an oral history project? The Center for Oral History Research offers a biannual workshop that provides an introduction to the basics of oral history methodology.  Find further information <a href="/pages/training">here</a>
            </p>

          </div>
        </div>

        <div id="accordion-04-body-03" class="collapse" role="tabpanel" aria-labelledby="accordion-04-heading-03">
          <div class="u-accordion__body g-brd-top g-brd-gray-light-v4 g-color-gray-dark-v5">
            <p>
              The transcripts and recordings for many of COHR’s interviews are available on this website under the individual interview entries.
            </p>
            <p>
              Transcripts and recordings not available here can be accessed in person at UCLA Library Special Collections. To have materials paged to the Special Collections reading room, users can register with the <a href="https://speccoll.library.ucla.edu/">UCLA Library Special Collections Request System</a> and then click on "Request an Item." The "Call Number/Collection Number" that the form asks for can be found in the entry for the interview in the <a href="https://catalog.library.ucla.edu/vwebv/searchBasic">UCLA Library Catalog</a>.
            </p>
            <p>
              If donation agreements allow, interview transcripts not available through this website can be provided to users as PDFs. To request a PDF, please register with the <a href="https://speccoll.library.ucla.edu/">UCLA Library Special Collections Request System</a> and request "Photoduplication."
            </p>
            <p>
              All transcripts and recordings on this site are protected under the copyright law of the United States (Title 17, United States Code) and are being made available for private study, scholarship, and research purposes only. Reproduction, dissemination, or quotation of the materials beyond that allowed by fair use requires the written permission of the head of UCLA Library’s Center for Oral History Research. Requests to use should be submitted through <a href="https://speccoll.library.ucla.edu/">UCLA Library Special Collections Request System</a> under  "Photoduplication."
            </p>
          </div>
        </div>
      </div>
      <!-- End Card -->
    </div>
  </div>

<% end %>
<% unless has_search_parameters? %>
  <div class="container-fluid">
    <div id="sidebar" class="<%= sidebar_classes %> padding-left-50">
    <%= render 'search_sidebar' %>
  </div>
<% else %>
  <div class="container">
    <div id="sidebar" class="<%= sidebar_classes %>">
    <%= render 'search_sidebar' %>
  </div>
<% end %>

  <div id="content" class="<%= main_content_classes %>">
    <% unless has_search_parameters? %>
      <%# if there are no input/search related params, display the "home" partial -%>
      <%= render 'home' %>
      <%= render 'shared/sitelinks_search_box' %>
    <% else %>
      <%= render 'search_results' %>
    <% end %>
  </div>


