<%= render partial: '/shared/sub_header' %>
<% unless @document['resource_url_t'].first.include? ".pdf" %>
  <%= render partial: 'uv', locals: { document_id: @document.id } %>
<% end %>
<div class="container">
  <div id="content" class="<%= show_content_classes %>">
    <%= render_document_main_content_partial %>
  </div>

  <div id="sidebar" class="<%= show_sidebar_classes %>">
     <%= render_document_sidebar_partial %>
  </div>
</div>