<% # container for all documents in index list view -%>
<div id="documents" class="documents-<%= document_index_view_type %>">
  <% count = 1 %>
  <% documents.each_with_index do |document, i| %>
    <% index_fields(document).each do |field_name, field| -%>
      <% if should_render_index_field? document, field %>
        <% document.response['highlighting'][document.id].each_with_index do |highlit, j| %>
          <% highlit[1].each_with_index do |value, k| %>
            <div
              class="document <%= render_document_class document %> document-position-<%= count %>"
              data-document-counter="<%= count %>"
              itemscope
              itemtype="<%= document.itemtype %>"
            >
              <%# render_document_partials document, blacklight_config.view_config(document_index_view_type).partials, :document_counter => document_counter %>
              <div class="documentHeader row">
                <% document_actions = capture do %>
                  <%= render_index_doc_actions document, wrapping_class: "index-document-functions col-sm-3 col-lg-2" %>
                <% end %>
                <h3 class="index_title document-title-heading col-md-12">
                  <%= link_to_document document, document_show_link_field(document), counter: count %>
                </h3>
              </div>
              <dl class="document-metadata dl-horizontal dl-invert dl-full-text ">
                <dd class="blacklight-<%= field_name.parameterize %>"><%= value.html_safe %></dd>
              </dl>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if @more %>
    <%= link_to 'Load More Results', request.params.merge(highlight_page: @highlight_page + 1), class: 'load-more' %>
  <% end %>
  <div class="spinner"></div>
</div>

