<div class="container">
  <div class="u-heading-v2-5--bottom g-brd-primary ">  
    <h4 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0 g-mt-40">Full Text Search Results</h4>
  </div>
  
  <% unless has_search_parameters? %>
    <div class="container-fluid">
      <div id="sidebar" class="<%= sidebar_classes %> padding-left-50">
      <p>no search params</p>
      <%= render 'search_sidebar' %>
    </div>
  <% else %>
    <div class="container">
      <div id="sidebar" class="<%= sidebar_classes %>">
      <%= render 'search_sidebar' %>
    </div>
  <% end %>

  <div id="content" class="<%= main_content_classes %>">
    <%= render 'search_results' %>
  </div>
</div>


