<!DOCTYPE html>
<html>
  <head>
    <title>UCLA Library | Center for Oral History Research</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= "#{controller.controller_name} #{controller.controller_name}-#{controller.action_name}" %>">
    <%= yield %>
  </body>
</html>
